<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Home (index.html🙃==>ejs)read hogela bhay</h1>
    <p> Hi <%=name%> </p>
    <p> sum <%= 45+90%> </p>
    <p> <%= locals %> </p>
    <p> Hi <%= locals.name %> </p>
    <p> Hi <%= locals.nambso %> </p>
</body>
<script src="script.js"></script>
</html> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <form method="post" , action="/contact">
            <h1>Contact Now</h1>
            <input type="text", name="name", placeholder="Enter Your Name"/>
            <input type="email", name="email", placeholder="E-mail"/>
            <button type="submit">Send Message</button>
        </form>
    </main>
    
</body>
<script src="script.js"></script>
</html>